.fallback {
  padding-top: 100px;
  margin: 20px;
  text-align: center;
}

.logout-button {
  padding-top: 100px;
  margin: auto 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
