.label {
    text-align: center; 
    line-height: 45px;
    height: 45px;
    background-color: #3880ff;
    color: white;
}

.center {
    text-align: center;
}

ion-card {
    width: 80%;
    margin: 50px auto;
}