<ion-header>
  <ion-toolbar>
    <ion-title>Share Modal Component</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="modalConfig.isFormInput">
    <ion-label>
      <div class="label"><b>{{modalConfig.formInputLabel}}</b></div>
    </ion-label>
    <ion-item>
      <ion-input id="name" type="text" readonly>Họ và Tên: {{name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="sex" type="text" readonly>Giới tính: {{sex}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="age" type="text" readonly>Tuổi: {{age}}</ion-input>
    </ion-item>
    <ng-container *ngFor="let t of phones, let i = index">
      <ion-item>
        <ion-input id="phone" type="text" readonly>Số điện thoại {{i+1}}: {{t.phone}}</ion-input>
      </ion-item>
    </ng-container>
    <ion-item>
      <ion-input id="email" type="text" readonly>Email: {{email}}</ion-input>
    </ion-item>
    <ng-container *ngFor="let t of addresses, let i = index">
      <ion-item>
        <ion-input id="address" type="text" readonly>Địa chỉ {{i+1}}: {{t.address}}</ion-input>
      </ion-item>
    </ng-container>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Thông tin đã chính xác, xác nhận gửi?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>


  <ion-card *ngIf="modalConfig.isScanner">
    <ion-label>
      <div class="label" [ngStyle]="{ 'color': color, 'background-color': bgcolor }">
        <b>{{modalConfig.scannerPageLabel}}</b></div>
    </ion-label>
    <ion-item>
      <ion-input id="name" type="text" readonly>Họ và Tên: {{name}}</ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input id="sex" type="text" readonly>Giới tính: {{sex}}</ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-input id="age" type="text" readonly>Tuổi: {{age}}</ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input id="phone" type="text" readonly>Số điện thoại: {{phone}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="color" type="text" readonly>Màu chữ: {{color}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="bgcolor" type="text" readonly>Màu nền: {{bgcolor}}</ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input id="email" type="text" readonly>Email: {{email}}</ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input id="code" type="text" readonly>Mã BHYT: {{code}}</ion-input>
    </ion-item>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Thông tin đã chính xác, xác nhận gửi?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>


  <ion-card style="width: 95% !important;" *ngIf="modalConfig.isAddDep">
    <ion-label>
      <div class="label"><b>{{modalConfig.AddDepLabel}}</b></div>
    </ion-label>
    <ion-item>
      <ion-label position="floating">Department Name</ion-label>
      <ion-input id="DepartmentName" [(ngModel)]="DepartmentName" type="text" placeholder="Insert Department Name">
      </ion-input>
    </ion-item>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Confirm save?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card style="width: 95% !important;" *ngIf="modalConfig.isEditDep">
    <ion-label>
      <div class="label"><b>{{modalConfig.EditDepLabel}}</b></div>
    </ion-label>

    <ion-item>
      <ion-label position="floating">Department Name</ion-label>
      <ion-input id="DepartmentName" [(ngModel)]="DepartmentName" type="text" placeholder="Insert Department Name">
      </ion-input>
    </ion-item>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Confirm save?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>



  <ion-card style="width: 95% !important;" *ngIf="modalConfig.isAddEmp">
    <ion-label>
      <div class="label"><b>{{modalConfig.AddEmpLabel}}</b></div>
    </ion-label>

    <div style="display: flex;" class="ion-padding">
      <div style="width:60%;">
        <ion-item>
          <ion-label position="floating">Employee Name</ion-label>
          <ion-input id="EmployeeName" [(ngModel)]="EmployeeName" type="text" placeholder="Insert Employee Name">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Department</ion-label>
          <!-- <ion-input id="Department" [(ngModel)]="Department" type="text" placeholder="Insert Department Name"></ion-input> -->
          <ion-select [(ngModel)]="Department" placeholder="Select One">
            <ion-select-option disabled>---Select---</ion-select-option>
            <ion-select-option *ngFor="let dep of DepartmentList">{{dep.DepartmentName}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Date Of Joining</ion-label>
          <ion-input id="DateOfJoining" [(ngModel)]="DateOfJoining" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Avatar</ion-label>
          <ion-input id="PhotoFileName" [(ngModel)]="PhotoFileName" type="file" (change)="uploadPhoto($event)"
          placeholder="Insert Department Name">
          </ion-input>
        </ion-item>
      </div>

      <div style="width:40%;">
        <img class="ion-padding" *ngIf="PhotoFilePath" [src]=PhotoFilePath height="200;" width="200;" >
      </div>
    </div>


    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Confirm save?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card style="width: 95% !important;" *ngIf="modalConfig.isEditEmp">
    <ion-label>
      <div class="label"><b>{{modalConfig.EditEmpLabel}}</b></div>
    </ion-label>

    <div style="display: flex;" class="ion-padding">
      <div style="width:60%;">
        <ion-item>
          <ion-label position="floating">Employee Name</ion-label>
          <ion-input id="EmployeeName" [(ngModel)]="EmployeeName" type="text" placeholder="Insert Employee Name">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Department</ion-label>
          <!-- <ion-input id="Department" [(ngModel)]="Department" type="text" placeholder="Insert Department Name"></ion-input> -->
          <ion-select [(ngModel)]="Department" placeholder="Select One">
            <ion-select-option disabled>---Select---</ion-select-option>
            <ion-select-option *ngFor="let dep of DepartmentList">{{dep.DepartmentName}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Date Of Joining</ion-label>
          <ion-input id="DateOfJoining" [(ngModel)]="DateOfJoining" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Avatar</ion-label>
          <ion-input id="PhotoFileName" [(ngModel)]="PhotoFileName" type="file" (change)="uploadPhoto($event)"
          placeholder="Insert Department Name">
          </ion-input>
        </ion-item>
      </div>

      <div style="width:40%;">
        <img class="ion-padding" *ngIf="PhotoFilePath" [src]=PhotoFilePath height="200;" width="200;">
      </div>
    </div>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Confirm save?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>



  <ion-card style="width: 95% !important;" *ngIf="modalConfig.isAddTask">
    <ion-label>
      <div class="label"><b>{{modalConfig.AddTaskLabel}}</b></div>
    </ion-label>

    <div style="display: flex; flex-direction: column;" class="ion-padding">

        <ion-item>
          <ion-label position="floating">Task Name</ion-label>
          <ion-input id="TaskName" [(ngModel)]="TaskName" type="text" placeholder="Insert Task Name">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input id="Description" [(ngModel)]="Description" type="text" placeholder="Insert Description">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Create On</ion-label>
          <ion-input id="CreateOn" [(ngModel)]="CreateOn" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Estimate</ion-label>
          <ion-input id="Estimate" [(ngModel)]="Estimate" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Complete On</ion-label>
          <ion-input id="CompleteOn" [(ngModel)]="CompleteOn" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Priority</ion-label>
          <ion-select [(ngModel)]="PriorityId" placeholder="Select One">
            <ion-select-option disabled>---Select---</ion-select-option>
            <ion-select-option *ngFor="let pri of PriorityList, let i = index" value={{i+1}}>{{pri.PriorityName}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Status</ion-label>
          <ion-select [(ngModel)]="StatusId" placeholder="Select One">
            <ion-select-option disabled>---Select---</ion-select-option>
            <ion-select-option *ngFor="let sta of StatusList, let i = index" value={{i+1}}>{{sta.StatusName}}</ion-select-option>
          </ion-select>
        </ion-item>

    </div>


    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Confirm save?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card style="width: 95% !important;" *ngIf="modalConfig.isEditTask">
    <ion-label>
      <div class="label"><b>{{modalConfig.EditTaskLabel}}</b></div>
    </ion-label>

    <div style="display: flex; flex-direction: column;" class="ion-padding">

        <ion-item>
          <ion-label position="floating">Task Name</ion-label>
          <ion-input id="TaskName" [(ngModel)]="TaskName" type="text" placeholder="Insert Task Name">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input id="Description" [(ngModel)]="Description" type="text" placeholder="Insert Description">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Create On</ion-label>
          <ion-input id="CreateOn" [(ngModel)]="CreateOn" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Estimate</ion-label>
          <ion-input id="Estimate" [(ngModel)]="Estimate" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Complete On</ion-label>
          <ion-input id="CompleteOn" [(ngModel)]="CompleteOn" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Priority</ion-label>
          <ion-select [(ngModel)]="PriorityId" placeholder="Select One">
            <ion-select-option disabled>---Select---</ion-select-option>
            <ion-select-option *ngFor="let pri of PriorityList, let i = index" [value]=sta.StatusId>{{pri.PriorityName}}</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Status</ion-label>
          <ion-select [(ngModel)]="StatusId" placeholder="Select One">
            <ion-select-option disabled>---Select---</ion-select-option>
            <ion-select-option *ngFor="let sta of StatusList, let i = index" [value]=sta.StatusId>{{sta.StatusName}}</ion-select-option>
          </ion-select>
        </ion-item>

    </div>


    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Confirm save?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

</ion-content>