.label {
    text-align: center; 
    line-height: 45px;
    height: 45px;
    background-color: #3880ff;
    color: white;
}

.center {
    text-align: center;
}

ion-card {
    width: 80%;
    margin: 30px auto;
}

ion-thumbnail {
    height: 100%;
    width: 100%;
    text-align: center;
    img {
        object-fit: cover;
        width: 350px;
        height: 170px;
    }
}