<ion-header>
  <ion-toolbar>
    <ion-title>Share Modal Component</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="modalConfig.isFormInput">
    <ion-label>
      <div class="label"><b>{{modalConfig.formInputLabel}}</b></div>
    </ion-label>
    <ion-item>
      <ion-input id="name" type="text" readonly>Họ và Tên: {{name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="sex" type="text" readonly>Giới tính: {{sex}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="age" type="text" readonly>Tuổi: {{age}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="phone" type="text" readonly>Số điện thoại: {{phone}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="email" type="text" readonly>Email: {{email}}</ion-input>
    </ion-item>
    <ng-container *ngFor="let t of addresses, let i = index">
    <ion-item>
      <ion-input id="address" type="text" readonly>Địa chỉ {{i+1}}: {{t.address}}</ion-input>
    </ion-item>
    </ng-container>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Thông tin đã chính xác, xác nhận gửi?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>


  <ion-card *ngIf="modalConfig.isScanner">
    <ion-label>
      <div class="label"><b>{{modalConfig.scannerPageLabel}}</b></div>
    </ion-label>
    <ion-item>
      <ion-input id="name" type="text" readonly>Họ và Tên: {{name}}</ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input id="sex" type="text" readonly>Giới tính: {{sex}}</ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-input id="age" type="text" readonly>Tuổi: {{age}}</ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input id="phone" type="text" readonly>Số điện thoại: {{phone}}</ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input id="email" type="text" readonly>Email: {{email}}</ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input id="code" type="text" readonly>Mã BHYT: {{code}}</ion-input>
    </ion-item>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Thông tin đã chính xác, xác nhận gửi?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

</ion-content>
