.view-header {
    height: 10%;
    background: antiquewhite;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 4.5rem;
    box-shadow: 3px 3px 10px -3px #888888;
}

.add-task {
    float: right;
    margin: 20px 20px 20px 0;
}

.view-content {
    height: 100%;
}

ion-grid {
    padding: 0;
}

ion-row {
    border-bottom: 0.5px dashed;
    line-height: 4;
    ion-col {
        border-left: 0.5px solid;
        &.padding-left {
            padding-left: 15px;
        }
    }
    ion-col:first-child {
        border-left: none !important;
    }
}
ion-row:first-child {
    border-bottom: 0.5px solid;
    line-height: 2;
    padding: 10px 0px;
}
ion-row:last-child {
    border-bottom: 0.5px solid;
}
ion-col {
    padding: 0px;
}

.row-css {
    font-weight: 600;
    ion-col {
        border-left: none !important;
    }
}

.status1 {
    background-color: #173F5F;
    color: rgb(255, 255, 255);
}
.status2 {
    background-color: #F6D55C;
    color: #000;
}
.status3 {
    background-color: #88f65c;
    color: #000;
}

.priority1{
    background-color: #f65c5c;
    color: #000;
}
.priority2{
    background-color: #5ce4f6;
    color: #000;
}
.priority3{
    background-color: #f6f45c;
    color: #000;
}
.priority4{
    background-color: #88f65c;
    color: #000;
}
.priority1,.priority2,.priority3,.priority4 {
    padding-left: 10px;
}

@media screen and (max-width: 1150px) {
    .small-view {
        display: grid !important;
    }
    .big-view {
        display: none !important;
    }
}

.small-view {
    display: none;
}

.big-view {
    display: grid;
}
