<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form Input</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card *ngIf="inputform">
          <ion-label>
            <div class="label"><b>Collect Information Form</b></div>
          </ion-label>
          <form [formGroup]="registrationForm">
            <ion-item>
              <ion-label position="floating">
                Họ và Tên
                <span *ngFor="let error of errorMessages.name">
                  <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </span>
              </ion-label>
              <ion-input type="text" id="name" placeholder="Nhập tên tại đây" formControlName="name"> </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                Giới tính
                <span *ngFor="let error of errorMessages.sex">
                  <ng-container *ngIf="sex.hasError(error.type) && (sex.dirty || sex.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </span>
              </ion-label>
              <ion-radio-group style="display: flex;" value="Male" id="sex" formControlName="sex">
                <ion-item lines="none">
                  <ion-label>Nam</ion-label>
                  <ion-radio slot="start" value="Male" color='success'></ion-radio>
                </ion-item>

                <ion-item lines="none">
                  <ion-label>Nữ</ion-label>
                  <ion-radio slot="start" value="Female" color='danger'></ion-radio>
                </ion-item>

                <ion-item lines="none">
                  <ion-label>Khác</ion-label>
                  <ion-radio slot="start" value="Other" color='dark'></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Tuổi
                <span *ngFor="let error of errorMessages.age">
                  <ng-container *ngIf="age.hasError(error.type) && (age.dirty || age.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </span>
              </ion-label>

              <ion-range min="0" max="150" pin="true" color="primary" id="age" formControlName="age">
              </ion-range>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Số điện thoại
                <span *ngFor="let error of errorMessages.phone">
                  <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </span>
              </ion-label>
              <ion-input type="tel" id="phone" placeholder="Start with +84 or 0." formControlName="phone">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Email
                <span *ngFor="let error of errorMessages.email">
                  <ng-container *ngIf="email.hasError(error.type) && (email.dirty || phone.email)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </span>
              </ion-label>
              <ion-input type="text" id="email" placeholder="Ex: duc.trinh@codeart.vn" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Địa chỉ
                <span *ngFor="let error of errorMessages.address">
                  <ng-container *ngIf="address.hasError(error.type) && (address.dirty || address.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </span>
              </ion-label>
              <ion-input type="text" id="address" formControlName="address"></ion-input>
            </ion-item>
          </form>
        </ion-card>


        <ion-card *ngIf="submitform">
          <ion-label>
            <div class="label"><b>Your Submitted Form Value</b></div>
          </ion-label>
          <ion-item>
            <ion-input id="name" type="text" readonly>Name: {{form.name}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="sex" type="text" readonly>Sex: {{form.sex}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="age" type="text" readonly>Age: {{form.age}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="age" type="text" readonly>Phone: {{form.phone}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="age" type="text" readonly>Email: {{form.email}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="age" type="text" readonly>Address: {{form.address}}</ion-input>
          </ion-item>

          <div>
            <ion-grid>
              <ion-row class="center" style="display: block;">
                <ion-text>
                  <b>Is It Correct?</b>
                </ion-text>
              </ion-row>
              <ion-row class="center">
                <ion-col>
                  <ion-button color="danger" (click)="refuse()">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="success" (click)="accept()">
                    <ion-icon name="checkmark-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="inputform">
    <ion-fab-button (click)="Submit()">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>