<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Components</ion-title>
    </ion-toolbar>
  </ion-header>


  <div>
      <ion-list>

        
        <!-- From here -->
        <ion-item routerLink="/actionsheet" >
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label style="text-transform:capitalize;" >{{componenttitle[0]}}</ion-label>
        </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/alert">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[1]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/avatar">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[2]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/badge">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[3]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/button">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[4]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/card">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[5]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/checkbox">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[6]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/chip">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[7]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/content">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[8]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/datetimepicker">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[9]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/floating-action-button">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[10]}}</ion-label>
      </ion-item>
      <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/grid">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[11]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/icon">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[12]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/infinitescroll">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[13]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/input">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[14]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/item">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[15]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/itemgroup">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[16]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/list">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[17]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/loading">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[18]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/menu">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[19]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/modal">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[20]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/navigation">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[21]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/note">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[22]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/picker">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[23]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/popover">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[24]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/progress">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[25]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/radio">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[26]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/range">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[27]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/refresher">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[28]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/reorder">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[29]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/searchbar">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[30]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/segment">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[31]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/select">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[32]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/skeleton-text">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[33]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/spinner">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[34]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/slides">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[35]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/tabsview">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[36]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/text">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[37]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/thumbnail">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[38]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/toast">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[39]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/toggle">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[40]}}</ion-label>
      </ion-item>
        <!-- To here -->
        <!-- From here -->
      <ion-item routerLink="/toolbar">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="text-transform:capitalize;" >{{componenttitle[41]}}</ion-label>
      </ion-item>
      <!-- To here -->


    </ion-list>
  </div>

</ion-content>
