<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Passcode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Passcode</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
  <div>
    <div class="login-content">
      <p> You have 10s to view the content inside. Once you've login, the timer will start counting!
      </p>
    </div>
  
    <div class="login-button">
    <ion-button expand="full" routerLink="/inside">Login</ion-button>
    </div>
</div>
              
</ion-content>
