<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title title='Task Manager with API'>
      Task Manager
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" id='QRpage'>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task Manager</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-grid style="overflow-y: hidden;">
    <!-- <ion-row class="float-right">
      <ion-col size="1">
        <ion-button (click)="ShowTable()">Table</ion-button>
      </ion-col>
      <ion-col size="1">
        <ion-button (click)="ShowPriority()">Priority</ion-button>
      </ion-col>
      <ion-col size="1">
        <ion-button (click)="ShowStatus()">Status</ion-button>
      </ion-col>
    </ion-row> -->
    <ion-row class="row-height">
      <ion-col>
      <ion-card class="ion-padding" >
        
        <app-table *ngIf="table"></app-table>
        <app-priority *ngIf="priority"></app-priority>
        <app-status *ngIf="status"></app-status>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color='primary'>
      <ion-icon name="bookmarks-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button color='warning' (click)="ShowStatus()">
        <ion-icon name="albums-outline" title="Status"> Status </ion-icon>
      </ion-fab-button>
      <ion-fab-button color='warning' (click)="ShowPriority()">
        <ion-icon name="albums-outline" title="Priority"> Priority </ion-icon>
      </ion-fab-button>
      <ion-fab-button color='warning' (click)="ShowTable()">
        <ion-icon name="tablet-landscape-outline" title="Table"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="bottom">
      <ion-fab-button *ngIf="table" color='success' (click)="toggleDone()">
        <ion-icon name="toggle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="table" color='primary' (click)="toggleAdd()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="priority" color='success' (click)="toggleDone()">
        <ion-icon name="toggle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="priority" color='primary' (click)="toggleAdd()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="status" color='primary' (click)="toggleAdd()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
