<ion-grid>
  <ion-row style="display: flex;">
    <ion-col size='10'>
      <ion-item>
        <ion-label position='floating'>
          Search for Ingredient!
        </ion-label>
        <ion-input>

        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col size='2' style="display: flex;">
      <ion-button style="margin: auto;">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="scroll-list">
  <ion-list>
    <ion-item-sliding *ngFor="let item of IngredientList, let i = index">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://i.insider.com/5d4203fb36e03c28a1020308?width=700" />
        </ion-thumbnail>

        <div class="item-content">
          <div class="card-title" *ngIf="item.iIngredient">{{item.iIngredient}}</div>
          <div class="card-description"><small *ngIf="item.iIngredientDesc">{{item.iIngredientDesc}}</small></div>
        </div>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="Edit(item)">Edit</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>