<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NGX Table
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NGX Table</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>

      <ion-col size="12" size-md="7" size-lg="8">
        <div class="ion-padding">

          <!-- Theme classes dark, material, bootstrap -->
          <ngx-datatable class="material" [limit]="10" [rows]="rows" [rowHeight]="50" [columns]="columns"
            [columnMode]="ColumnMode.force" [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50"
            [scrollbarH]="true" [selected]="selected" [selectionType]="SelectionType.checkbox"
            [selectAllRowsOnPage]="false" [displayCheck]="displayCheck" (select)="onSelect($event)">

            <!-- You can use NGX datatable column below to add specific details, templates, classes, bindings -->

            <!-- From here -->

            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
            </ngx-datatable-column>

            <ngx-datatable-column name="Name">
              <ng-template class="row-name" let-column="column" ngx-datatable-header-template> {{ column.name }}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Company">
              <ng-template class="row-name" let-column="column" ngx-datatable-header-template> {{ column.name }}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Genre">
              <ng-template class="row-name" let-column="column" ngx-datatable-header-template> {{ column.name }}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Group">
              <ng-template class="row-name" let-column="column" ngx-datatable-header-template> {{ column.name }}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
              </ng-template>
            </ngx-datatable-column>



            <!-- The column below will create new column named Detail 
        even if there is no "detail" data for the movie. -->

            <!-- <ngx-datatable-column name="Detail">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column> -->

            <!-- To here -->

          </ngx-datatable>

        </div>
      </ion-col>

      <ion-col size="12" size-md="5" size-lg="4">
        <div class="selected-column ion-padding">
          <h4>
            Selections <small>({{ selected?.length }})</small>
          </h4>
          <ul>
            <li *ngFor="let sel of selected">
              {{ sel.name }}
            </li>
            <li *ngIf="!selected?.length">No Selections</li>
          </ul>

          <ion-button *ngIf="!selected.length == 0" (click)="submitArray()">
            Submit
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>