

<ion-content>

  <div style="justify-content: center; display: flex; align-items: center; margin-top: 50px;">
    Click on tabs below to view more!
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="music" >
        <ion-icon name="musical-notes-sharp"></ion-icon>
        <ion-label>Music</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="videos">
        <ion-icon name="videocam-sharp"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="games" >
        <ion-icon name="game-controller-sharp"></ion-icon>
        <ion-label>Games</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>