<ion-header>
  <ion-toolbar>
    <ion-title>Thông tin đã được nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-label>
      <div class="label"><b>Biểu mẫu lưu dữ liệu đã nhập</b></div>
    </ion-label>
    <ion-item>
      <ion-input id="name" type="text" readonly>Họ và Tên: {{name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="sex" type="text" readonly>Giới tính: {{sex}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="age" type="text" readonly>Tuổi: {{age}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="age" type="text" readonly>Số điện thoại: {{phone}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="age" type="text" readonly>Email: {{email}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="age" type="text" readonly>Địa chỉ: {{address}}</ion-input>
    </ion-item>

    <div>
      <ion-grid>
        <ion-row class="center" style="display: block;">
          <ion-text>
            <b>Thông tin đã chính xác, xác nhận gửi?</b>
          </ion-text>
        </ion-row>
        <ion-row class="center">
          <ion-col>
            <ion-button color="danger" (click)="refuse()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="accept()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

</ion-content>
